# Server
PORT=3000
FRONTEND_URL=http://localhost:5173

# MongoDB
DB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<database>

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
